body {
	background-image: url(BackG.jpg);
}

#title {
	color: blue;
	font-family: "purisa";
	position: absolute;
	left: 550px;
	top: 25px;

}

#text {
	border-style: double;
	border-width: 5px;
	position: absolute;
	left: 50px;
	top: 200px;
}
