.awesome{
	margin-top:120px;
	margin-left:120px;
}

body{
	background-image:url('BackG.jpg');
}

.wellfix{
	display: table;
}

.buttfix{
	display:inline;
}

.saphira{
	width:300px;
	height:100px;	
}

.eragon{
	margin-bottom:0px;
}


