.awesome{
	margin-top:100px;
	margin-left:120px;
}

.awesome2{
	margin-top:50px;
	margin-left:120px;
}

.awesome3{
	margin-top:50px;
	margin-left:120px;
}
body{
	background-image:url('imsokewl.jpg');
}

.wellfix{
	display: table;
}

.buttface{
	display:inline-block;
}

.saphira{
	width:500px;
	height:100px;	
}

.eragon{
	margin-bottom:0px;
}

@font-face{
	font-family: Roboto-thin;
	src: ("Roboto-Thin.ttf");
}

@font-face{
	font-family: Roboto-Light;
	src: ("Roboto-Light.ttf");
}


.dickhead{
	width:300px;
	font-family:Roboto-Light;
}
