@font-face {
    font-family: Roboto;
    src: url(Roboto-Thin.ttf);
}


.box{
	width:233px
}

#address{
	width:230px
}
#email{
	width:203px
}
.form{
	margin-left:500px
}

#h2{
	margin-left:515px
}



#h3{
	margin-left:450px
}

#sign{
	margin-left:220px
}

.font{
	font-family: "Roboto";
}

.beg{
	margin-left: 20px
}

body{
background-color: rgb(255,255,255);
}

body {
background-image: url("imsokewl.jpg");
}
