h1{
	color: #0BA6AF;
	font-family: "Roboto-Light";
	text-align: center;
	font-size: 60px;
	position: absolute;
	left: 300px;
	top: 100px;
}

.large-6columns {
	position: absolute;
	text-align: center;
	left: 30px;
	top: 225px;
	font-family: "Roboto-Thin";
	font-size: 15px;
	font-weight: bold;
	border-style: dashed;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
}


#firstImg{
	position: absolute;
	left: 700px;
	top: 200px;
	width: 475px;
	height: 332px;
	margin-left: auto;
	margin-right:auto;
}

#secondImg {
		position: absolute;
		left: 700px;
		top: 500px;
}

body {
	background-image: url(BackG.jpg);
}

